<div class="modal-header" [ngClass]="headerClass">
    <h5 class="modal-title">
        <i [class]="icon" class="me-2"></i> {{ title }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">
    <p>{{ message }}</p>
</div>

<div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="cancel()">{{ cancelText }}</button>
    <button class="btn" [ngClass]="{
    'btn-danger': type === 'danger',
    'btn-warning': type === 'warning',
    'btn-success': type === 'success',
    'btn-primary': type === 'info'
  }" (click)="confirm()">
        {{ confirmText }}
    </button>
</div>